{% extends 'base_forgot_password.html' %}

{% block title %}Professores Cadastrados{% endblock %}

{% block content %}
  <h5 class="center-align logo-name-sideber">Ok!<br></h5>
  <p style="text-align:justify">
    Nos te enviamos um email com instruções para configurar sua senha, se existir uma conta com o email que você digitou,
    você recebera um email em breve.<br><br>
    Se você não recebeu um email, por favor, tenha certeza que você digitou o email com o qual você se cadastrou,
    e cheque sua caixa de spam.<br><br>
  </p>
  <div class="center-align">
    <a href="{% url 'password_reset' %}"><br>Digitar email novamente</a>
  </div>
{% endblock %}
