
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Cadastrar Trabalho - SPI{% endblock %}

{% block content %}

<!-- CSS -->

<style media="screen">
  #tccspin{
    background-color:#5f6c72;
  }
  #tccspitexn{
    color: white;
  }

  #tcculn{
      border-top: 1px #222 solid;
      display: block;
  }

  #tcculn li a span{
      margin-left: 20px;
      font-size: 12px;
  }
  #tccul{
      border-top: 1px #222 solid;
      display: block;
  }

  #tccul li a span{
      margin-left: 20px;
      font-size: 12px;
  }
</style>

<!-- CSS -->
<style media="screen">

  tr.clickable-row {/*Mãozinha do clique*/
  cursor: pointer;
  }

  div.material-table {
    padding: 0;
  }

  div.material-table .hiddensearch {
    padding: 0 14px 0 24px;
    border-bottom: solid 1px #DDDDDD;
    display: none;
  }

  div.material-table .hiddensearch input {
    margin: 0;
    border: transparent 0 !important;
    height: 48px;
    color: rgba(0, 0, 0, .84);
  }

  div.material-table .hiddensearch input:active {
    border: transparent 0 !important;
  }

  div.material-table table {
    table-layout: fixed;
  }

  div.material-table .table-header {
    height: 64px;
    padding-left: 24px;
    padding-right: 14px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-display: flex;
    border-bottom: solid 1px #DDDDDD;
  }

  div.material-table .table-header .actions {
    display: -webkit-flex;
    margin-left: auto;
  }

  div.material-table .table-header .btn-flat {
      min-width: 36px;
      padding: 0 8px;
  }

  div.material-table .table-header input {
    margin: 0;
    height: auto;
  }

  div.material-table .table-header i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
  }

  div.material-table .table-footer {
    height: 56px;
    padding-left: 24px;
    padding-right: 14px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54);
  }

  div.material-table .table-footer .dataTables_length {
    display: -webkit-flex;
    display: flex;
  }

  div.material-table .table-footer label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row
    /* works with row or column */

    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  div.material-table .table-footer .select-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row
    /* works with row or column */

    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  div.material-table .table-footer .dataTables_info,
  div.material-table .table-footer .dataTables_length {
    margin-right: 32px;
  }

  div.material-table .table-footer .material-pagination {
    display: flex;
    -webkit-display: flex;
    margin: 0;
  }

  div.material-table .table-footer .material-pagination li:first-child {
    margin-right: 24px;
  }

  div.material-table .table-footer .material-pagination li a {
    color: rgba(0, 0, 0, 0.54);
  }

  div.material-table .table-footer .select-wrapper input.select-dropdown {
    margin: 0;
    border-bottom: none;
    height: auto;
    line-height: normal;
    font-size: 12px;
    width: 40px;
    text-align: right;
  }

  div.material-table .table-footer select {
    background-color: transparent;
    width: auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: auto;
    margin-left: 20px;
  }

  div.material-table .table-title {
    font-size: 20px;
    color: #000;
  }

  div.material-table table tr td {
    padding: 0 0 0 56px;
    height: 48px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: solid 1px #DDDDDD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div.material-table table tr td a {
    color: inherit;
  }

  div.material-table table tr td a i {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
  }

  div.material-table table tr {
    font-size: 12px;
  }

  div.material-table table th {
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
    height: 56px;
    padding-left: 56px;
    vertical-align: middle;
    outline: none !important;
  }

  div.material-table table th.sorting_asc,
  div.material-table table th.sorting_desc {
    color: rgba(0, 0, 0, 0.87);
  }

  div.material-table table th.sorting:after,
  div.material-table table th.sorting_asc:after,
  div.material-table table th.sorting_desc:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: "arrow_back";
    -webkit-transform: rotate(90deg);
    display: none;
    vertical-align: middle;
  }

  div.material-table table th.sorting:hover:after,
  div.material-table table th.sorting_asc:after,
  div.material-table table th.sorting_desc:after {
    display: inline-block;
  }

  div.material-table table th.sorting_desc:after {
    content: "arrow_forward";
  }

  div.material-table table tbody tr:hover {
    background-color: #EEE;
  }

  div.material-table table th:first-child,
  div.material-table table td:first-child {
    padding: 0 0 0 24px;
  }

  div.material-table table th:last-child,
  div.material-table table td:last-child {
    padding: 0 14px 0 0;
  }

  div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
    z-index: 21;
    color: rgba(0, 0, 0, 0.6);
  }

  @media screen and (max-width: 640px) {
    div.dt-buttons {
      float: none !important;
      text-align: center;
    }
  }

</style>

<form method="POST">
  {% csrf_token %}
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
          <div id="modal2" class="modal">
              <div class="modal-content center">
                <h5>Atenção!</h5><br>
                <div class="center">
                  <span>{{ error|escape }}</span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="modal-close btn-flat" name="button">Continuar</button>
              </div>
          </div>
          {% endfor %}
      {% endfor %}
  {% endif %}
<center class="container animated fadeIn">
    <h6 style="margin-top:2%">Cadastrar Trabalho</h6>
    <span class="center">Ficha de Trabalho</span>
    <div class="card-panel z-depth-2" style="max-width:800px;">
      <div>
        <div class="input-field" >
          <input type="text" name="titulo_tcc" value="" required="" id="id_titulo_tcc">
          <label for="{{form.titulo_tcc.id_for_label}}">Titulo do Trabalho <span id="valTituloTcc" style="color:red">*</span></label>
        </div>
      </div>
      <div class="input-field">
        <select name="aluno" id="id_aluno">
          <option value="" disabled selected>---------</option>
          {% for aluno in aluno %}
          <option value="{{aluno.pk}}">{{aluno.aluno_nome}}</option>
          {% endfor %}
        </select>
        <label>Aluno <span id="valAluno" style="color:red">*</span></label>
      </div>
      <div class="input-field">
        <select name="aluno2" id="id_aluno_2">
          <option value="" disabled selected>---------</option>
          {% for aluno in aluno %}
          <option value="{{aluno.pk}}">{{aluno.aluno_nome}}</option>
          {% endfor %}
        </select>
        <label>Aluno<span id="valAluno2"></label></label>
      </div>
      <div class="input-field">
        <select name="aluno3" id="id_aluno_3">
          <option value="" disabled selected>---------</option>
          {% for aluno in aluno %}
          <option value="{{aluno.pk}}">{{aluno.aluno_nome}}</option>
          {% endfor %}
        </select>
        <label>Aluno<span id="valAluno3"></label></label>
      </div>
      <div class="input-field">
        <select name="aluno4" id="id_aluno_4">
          <option value="" disabled selected>---------</option>
          {% for aluno in aluno %}
          <option value="{{aluno.pk}}">{{aluno.aluno_nome}}</option>
          {% endfor %}
        </select>
        <label>Aluno<span id="valAluno4"></label></label>
      </div>
      <div class="input-field">
        <select name="orientador" id="id_orientador">
          <option value="" disabled selected>---------</option>
          {% for professor in professor %}
          <option value="{{professor.pk}}">{{professor.professor_nome}}</option>
          {% endfor %}
        </select>
        <label>Orientador <span id="valOrientador" style="color:red">*</span></label>
      </div>
    </div>
      <div class="center">
        <button class="btn blue waves-effect waves-light" type="submit" onclick="return Validate()" name="btn" value="s" id="buttonform">Salvar</button>
        <button class="btn teal waves-effect waves-light" name="btn6" type="submit" onclick="return Validate()" id="buttonform2" >Salvar e Adicionar Outro</button>
      </div><br>
  </div>
</div>
</form>

{% if sucess_message %}
  <!-- Modal Structure -->
  <div id="modal2" class="modal">
      <div class="modal-content center">
        <h5>Sucesso!</h5><br>
        <div class="center">
          <span>{{sucess_message}}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-close btn-flat" name="button">Continuar</button>
      </div>
  </div>
{% endif %}

<script type="text/javascript">
$(document).ready(function() {
  $('select').material_select();
});
function Validate(){
  var TituloTcc = document.getElementById("id_titulo_tcc").value;
  if(TituloTcc ==""){
    Materialize.toast('O campo de Titulo deve ser preenchido para prosseguir',2000,'rounded');
    $('#valTituloTcc').html('<b>*</b>').css('color','red');
    document.getElementById("id_titulo_tcc").focus();
    return false;
  }
  if (!/^[a-zA-Záàâãéèêíïóôõöúçñ0-9^<>()\[\]\\[-].,;:\s@"'!#$%&*+=-_&¨{}|]*$/i.test(document.getElementById("id_titulo_tcc").value)){
    Materialize.toast('O campo Titulo está inválido',2000,'rounded');
    $('#valTituloTcc').html('<b>*</b>').css('color','red');
    document.getElementById("id_titulo_tcc").focus();
    return false;
  }
  var Aluno = document.getElementById("id_aluno").value;
  if (Aluno == ""){
    Materialize.toast('O campo de Aluno deve ser preenchido para prosseguir',2000,'rounded');
    $('#valAluno').html('<b>*</b>').css('color','red');
    document.getElementById("id_aluno").focus();
    return false;
  }
  var Orientador = document.getElementById("id_orientador").value;
  if (Orientador == ""){
    Materialize.toast('O campo de Orientador deve ser preenchido para prosseguir',2000,'rounded');
    $('#valOrientador').html('<b>*</b>').css('color','red');
    document.getElementById("id_orientador").focus();
    return false;
  }
  return true;
}
$(document).ready(function(){
  $('#id_titulo_tcc').on("change keyup paste",function(){
    $('#valTituloTcc').html('');
  })
  $('#id_aluno').on("change keyup paste",function(){
    $('#valAluno').html('');
  })
  $('#id_orientador').on("change keyup paste",function(){
    $('#valOrientador').html('');
  })
}
)
document.getElementById("tccul").classList.remove('child-menu');
document.getElementById("tccmenu").classList.remove('master-menu');
</script>
{% endblock %}
